body {
	background: #333;
	color: #ccc;
	margin: 0;
	padding: 0;
	xoverflow: hidden;
	font-weight: normal;
	font-family: Georgia, Times New Roman, serif;
	font-style: italic;
}
	a {
		color: #eef;
		padding: 1px;
		text-decoration: none;
		border-bottom: 1px solid #fef;
	}
	a:hover {
		border-color: #0f0;
	}

	#renderer, #container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/* debugggggg */

#debug {
	position: absolute;
	top: 0;
	left: 0;
	font-family: Arial, sans-serif;
	font-size: 62.5%;
	color: #000;
	display: none;
}

#debug > div {
	float: left;
}

#info {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
}


.section_label {
	display: block;
	margin: 3px 0;
	font-weight: bold;
}

.ADSR_GUI {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}

.controls_row {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	box-orient: horizontal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
}

.control {
	cursor: pointer;
	text-align: center;
	margin-right: 3px;
	min-width: 40px;
	max-width: 50px;
}
	.control .label {
		font-size: 9px;
		text-transform: lowercase;
	}


